<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickZ"
        tools:targetApi="31">
        <activity android:name=".MainActivity"/>
        <activity android:name=".pages.auth.HomePage"/>
        <activity android:name=".pages.games.TypeMultiChoice"/>
        <activity android:name=".pages.result.Finished"/>
        <activity android:name=".pages.result.ResultQuestion"/>

        <activity
            android:name=".pages.auth.LoginPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuickZ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>